body {
    background-image: url(./assets/fondoBlackYack.jpg);
}

h1 {
    color: #ffffff;
}

.title {
    text-align: center;
}

img {
    width: 125px;
    margin-right: 25px;
}

.show-card {
    display: none;
}

.show-value {
    display: none;
}

button:focus {
    outline: none;
}